h1 {
    color: rgb(253, 253, 253);
    font-size: 100px;
    font-family: 楷体;
    background-color: rgb(16, 51, 5); 
    background-size: initial;
}
h2 {
    color: rgb(92, 94, 92);
    font-size: 40px;
}
h3 {
    color: rgb(128, 145, 128);
    font-size: 25px;
}
p{
    font-size: 42px;
    font-weight: lighter;
    color: rgb(75, 128, 75);
}
p:hover {
    background-color: rgb(245, 214, 156);
  }
  
.item {
    border: 1px solid #aaa;
    padding: 1rem;
    font-size: 35px;
  }
  
  .selected {
    background-color: rgb(206, 216, 199);
  }
.yyy {
    font-size: 42px;
    color: rgb(75, 128, 75);
     
}
.yyy:hover {
    font-size: 42px;
    color: rgb(218, 93, 21);
     
}
.workshop {
    height: 5px;
    width: 3800px;
    padding-top: 4%;
    margin-bottom: 22px;
    margin-top: 26px;
    background-color: rgb(206, 216, 199);
    border-radius: 40px;
    opacity:0.9;









   
  }

.container{
    display: flex;
    width: 3800px;
    height: 50px;
    font-family: 楷体;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(206, 216, 199);

  }

.container button:hover {
    color: royalblue;
    background-color: rgb(220, 236, 220);

}
.container:hover {
    color: royalblue;
    background-color: rgb(220, 236, 220);

}
.container button {
    width: 200px;
    height: 50px;
    font-size: 35px;
    font-family: 楷体;
    font-weight: bold;
}